<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

    <title>MovieAPI</title>
</head>
<body>
    <header>
        <h1>MovieAPI</h1>
        <p>Bienvenue sur MovieAPI ! Cette API vous permet d'accéder à des informations sur les films stockés dans notre base de données.</p>
    </header>

    <nav>
        <ul>
            <li><a href="/movies">Films</a></li>
        </ul>
    </nav>

    <section>
        <h2>Rechercher un film :</h2>
        <p>Utilisez le formulaire de recherche ci-dessous pour trouver un film spécifique par titre :</p>
        <form action="/movies/search" method="get">
            <input type="text" id="search" name="q">
            <button type="submit">Rechercher</button>
        </form>
    </section>

</body>
</html>
