/* Réinitialiser la marge et le padding par défaut */

{
margin: 0;
padding: 0;
}
/* Définir la couleur de fond pour l'ensemble de la page */
body {
background-color: #f2f2f2;
}

/* Ajouter une bordure en bas de l'en-tête */
header {
border-bottom: 1px solid #ccc;
padding: 20px;
}

/* Style du titre principal */
h1 {
font-size: 36px;
font-weight: bold;
margin-bottom: 10px;
}

/* Style du sous-titre */
p {
font-size: 18px;
line-height: 1.5;
}

/* Style des liens de navigation */
nav ul {
list-style: none;
}

nav li {
display: inline-block;
margin-right: 20px;
}

nav a {
display: block;
padding: 10px;
text-decoration: none;
color: #333;
border-radius: 5px;
}

nav a:hover {
background-color: #333;
color: #fff;
}

/* Style du formulaire de recherche */
section {
margin: 20px;
}

h2 {
font-size: 24px;
margin-bottom: 10px;
}

form {
display: inline-block;
}

label {
font-size: 18px;
margin-right: 10px;
}

input[type="text"] {
font-size: 18px;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}

button[type="submit"] {
font-size: 18px;
padding: 10px;
border-radius: 5px;
background-color: #333;
color: #fff;
border: none;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #666;
}




